@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-secondary: #1A222A;
  --color-white: #ffffff;
  --color-primary: #39404A;
  --color-accent: #279BFB;
  --color-tertiary: #f1f1f1;
  --color-black: #19222a;
  --color-tertiary-alt: #7b7e82;
  --color-light: #cecece;
  --border-radius-small: 10px;
  --border-radius-normal: 25px;
  --border-radius-big: 30px;
  --border-radius-blue: 60px;
  --font-family-base: "Montserrat", sans-serif;
  --container-width: 1362px;
  --section-padding-y: 65px;
  --input-height: 44px;
  --button-height: 45px;
  --transition-duration: 0.2s;
}

.container {
  max-width: 1362px;
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.3;
  color: var(--color-black);
  background-color: var(--color-white);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 24px;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-normal);
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-white);
  border-radius: 5px;
  box-shadow: 0 -8px var(--color-white), 0 8px var(--color-white);
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
}

.mobile-overlay__body {
  display: flex;
  justify-content: center;
}
.mobile-overlay__body .menu-overlay__list {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 50px;
  min-height: 20vh;
}
.mobile-overlay__body .menu-overlay__list else {
  display: flex;
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: 5px;
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;
  width: 70%;
  height: 2px;
  background-color: var(--color-black);
  border-radius: 5px;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

dialog:modal {
  max-width: 100%;
  max-height: 100%;
}

.header {
  position: relative;
  background: url("../../img/headerBackground.png") center;
  height: 1007px;
}
@media (max-width: 767px) {
  .header {
    padding-top: 10px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .header__inner {
    display: flex;
    justify-content: stretch;
    gap: 20px;
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  .header__logo {
    width: 100px;
  }
}
.header__menu {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-white);
}
.header__menu-list {
  display: flex;
  align-items: center;
  gap: 80px;
}
@media (max-width: 1362px) {
  .header__menu-list {
    gap: 40px;
  }
}
.header__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 80px;
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: inherit;
}
.header__button-list {
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: 600;
}
@media (max-width: 1362px) {
  .header__button-list {
    gap: 10px;
  }
}
@media (max-width: 767px) {
  .header__button-list {
    margin-left: auto;
  }
}
.header__button-list-item {
  color: var(--color-white);
}
.header__center-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 184px;
  height: 116px;
  position: absolute;
  left: 43%;
  top: 46%;
  background-color: rgba(187, 139, 250, 0.34);
  border-radius: var(--border-radius-normal);
  color: var(--color-black);
  font-size: 16px;
  font-weight: 600;
}
.header__center-link:hover {
  opacity: 0.5;
}
@media (max-width: 1023px) {
  .header__center-link {
    position: fixed;
    left: 50%;
    top: 50%;
  }
}
@media (max-width: 767px) {
  .header__center-link {
    position: fixed;
    left: 30%;
    top: 50%;
  }
}

.button {
  border: none;
  background-color: inherit;
  color: var(--color-white);
}

.button-youtube {
  position: relative;
}
.button-youtube::before {
  content: url("../../img/youtube.svg");
  position: absolute;
  left: -30px;
  top: 3px;
}

/*# sourceMappingURL=style.css.map */
